body {
    background: rgb(81, 81, 182);
    font: normal 16pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

div {
    text-align: center;
    padding: 10px;
}

img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

footer {
    color: white;
    font: italic 14pt Arial;
    text-align: center;    
    bottom : 0px;
    width : 100%
}